<div class="row">
    <div class="col-md-5">
       <div class="inspiration">
        <h2 class="pri-heading">
            Inspire your inspiration 
           </h2>
           <h3 class="sec-heading">
            Simple to use for your app, products showcase and your inspiration
           </h3>
           <div class="para">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
            tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat
            tempor. In quis arcu et eros porta lobortis sit
           </div>
           <app-icons [getIcon]="iconArr"></app-icons>
       </div>
    </div>
    <div class="col-md-5 offset-md-2">
     <img src="../../../../assets/images/ipad.png" alt="ipad" title="ipad"> 
    </div>
</div>
