<section class="featureSec section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 mb-70">
                <div class="featureSection text-center">
                    <h4 class="pri-heading">
                        Tinyone Features
                    </h4>
                    <p class="sec-heading">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique
                        bibendum. Donec rutrum sed sem quis venenatis.
                    </p>
                </div>
    
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6" *ngFor="let card of  featureCardArr">
              <app-feature-cards [featureCard]="card"></app-feature-cards>
            </div>
        </div>
    </div>
</section>