
.mainHeader{
    &.bg-light{
        background-color: transparent !important;
    }
   .navbar-nav .nav-link{
        color: $color-secondary;
        font-size: 22px;
        text-transform: capitalize;
    }
}